# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# coverage
/coverage

# production
build*/

# Mac files
.DS_Store

# IDE
.vscode

# dotenv environment variables file
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn
yarn-error.log
.pnp/
.pnp.js
# Yarn Integrity file
.yarn-integrity

# Local db
*.sqlite

package-lock.json
